<!-- workspace.launch -->

<launch>
  <rosparam file="params.yaml" command="load"/>
  <include file="$(find env_publisher)/launch/env_publisher.launch"/>
  <include file="$(find global_planner)/launch/global_planner.launch"/>
  <include file="$(find local_planner)/launch/local_planner.launch"/>
  <!-- Add more include statements for other packages -->
</launch>

